ul {
  container
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #353030;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

li b {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

li a:hover {
  background-color: #292424;
}

li b:hover {
  background-color: #292424;
}
